.main
{
    width:1235px;
    margin:auto;
}
.equip_set
{
    min-height:660px;
    width:1001px;
    margin:auto;
    margin-top:40px;
    text-align:center;
}
.set_item
{
    margin-left:44px;
    margin-right:30px;
    width:80px;
    height:80px;
    background-color:gray;
    border-radius:100%;
    float:left;
}
.list_item_pic
{
    width:80px;
    height:80px;
    border-radius:100%;
}
.equip_price
{
    float:left;
    margin-left:20px;
}
.equip_info
{
    text-align:left;
}
.equip_attri
{
    float:left;
    margin-left:20px;
    margin-top:10px;
}
.equip_attri_icon
{
    float:left;
    margin-left:20px;
    margin-top:10px;
}
.skill_list
{
    margin-left:65px;
}
.equip_skill
{
    
    text-align:left;
}
.return_btn
{
    margin-right:40px;
}