.menu_type
{
    text-align:center;
}
.main
{
    width:1235px;
    margin:auto;

}
.item_panel
{
    height:590px;
    overflow:auto;
}
.parent_item_name
{
    text-align:center;
}
.parent_item
{
    width:600px;
    min-height:250px;
    margin:auto;
}
.parent_item_pic_panel
{
    width:80px;
    height:100px;
    margin:auto;
}
.child_item_label
{
    margin-left:25px;
    font-size:20px;
    
}
.child_item_name
{
    text-align:center;
}
.parent_item_pic
{
    width:80px;
    height:80px;
    border-radius:100%;
}
.child_item
{
    width:200px;
    height:250px;
    float:left;
    margin-left:25px;
    margin-right:10px;
    overflow:auto;
}
.child_item_pic_panel
{
    width:80px;
    height:100px;
    margin:auto;
}
.child_item_pic
{
    width:80px;
    height:80px;
    border-radius:100%;
}

