.login_panel
{
    width:400px;
    min-height:200px;
    margin:auto;
    margin-top:120px;
    text-align:center;
}
.login_input
{
    margin-bottom:20px;
}
.login_other
{
    font-size:12px;
}