.main
{
    width:1235px;
    margin:auto;
}
.choice
{
    text-align:center;
}
.choice_list
{
    height:450px;
    overflow:auto;
}
.list_item
{
    width:200px;
    height:235px;
    float:left;
    margin-top:10px;
    margin-left:25px;
    margin-right:10px;
    text-align:center;
    overflow:auto;
}
.list_item_pic_panel
{
    width:80px;
    height:100px;
    margin:auto;
}
.list_item_pic
{
    width:80px;
    height:80px;
    border-radius:100%;
}
.equip_set
{
    height:160px;
    width:1001px;
    margin:auto;
}
.set_item
{
    margin-left:30px;
    margin-right:30px;
    width:80px;
    height:80px;
    background-color:gray;
    border-radius:100%;
    float:left;
}
.set_option
{
    float:left;
    width:40px;
    height:80px;
}
.set_option button
{
    margin-left:25px;
    margin-bottom:10px;
}


