{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Equipment-Imitator</title>
    <link rel="stylesheet" href="{% static 'css/equipset.css' %}" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="{% static 'JS/jquery.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index/"><span class="glyphicon glyphicon-book"/>&nbsp;Equipment-Imitator</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'yourImitator' %}"><span class="glyphicon glyphicon-cog"/>&nbsp;模拟</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"/>&nbsp;{{request.user.username}}
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'yourIndex' %}"><span class=" glyphicon glyphicon-home"/>&nbsp;个人中心</a></li>
                <li><a href="{% url 'login_out' %}"><span class="glyphicon glyphicon-off"/>&nbsp;退出</a></li>
              </ul>
            </li>         
          {% else %}
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"/>&nbsp;登录</a></li>
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-list-alt"/>&nbsp;注册</a></li>
          {% endif %}
            <li><a href="{% url 'aboutAuthor' %}"><span class="glyphicon glyphicon-bookmark"/>&nbsp;关于作者</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
        <main class="main">
            <div class="panel panel-{{set.s_color}} equip_set">
              <div class="panel-heading"><h4>{{set.s_name}}</h4>
              </div>
                <div class="panel-body set_list">
                    <div class="panel panel-danger">
                      <div class="panel-body">
                        {% for i in e_list %}
                            <a class="set_item" href=" /equipitem/?e_no={{i.e_no}} "><img class="list_item_pic" src="{{ i.e_pic }}"/></a>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="panel panel-success">
                      <div class="panel-body">
                        <h3 class="equip_attri_icon"><a title="装备价格"><span class="glyphicon glyphicon-usd"/></a></h3>
                        <h4 class="equip_price"><span class="label label-success">  总价：{{p_total}} &nbsp; 售价：{{tp_total}}</span></h4>
                    </div>
                    </div>
                    <div class="panel panel-warning equip_info">
                      <div class="panel-body">
                        <h3 class="equip_attri_icon"><a title="装备属性"><span class="glyphicon glyphicon-cog"/></a></h3>
                          {% for j in asum_list %}
                            <h4 class="equip_attri"><span class="label label-warning">               
                               {{ j }} 
                            </span></h4>
                          {% endfor %}
                      </div>
                    </div>
                    <div class="panel panel-primary equip_skill">
                      <div class="panel-body">
                        <h3 class="equip_attri_icon"><a title="装备技能"><span class="glyphicon glyphicon-tint"/></a></h3>
                      <div class="skill_list">
                          {% for k in sk_list %}
                            <h4 class="equip_skill"><p><span class="label label-primary skill_contain">               
                               {{ k.sk_no.sk_name}}（{{k.sk_no.sk_type}}）
                            </span></h4>{{k.sk_no.sk_describe}}</p>
                          {% endfor %}
                      </div>
                      </div>
                    </div>
                    <a href="{% url 'yourIndex' %}"><button type="button" class="btn btn-success return_btn"><span class="glyphicon glyphicon-menu-left"/>&nbsp;返回</button></a>
                    <button type="button" class="btn btn-{{set.s_color}} change_btn" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-leaf"/>&nbsp;风格</button>
                     <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <form action="{% url 'setcolor' %}" method="post">
                              <h3>修改出装的风格颜色</h3>
                              <input type="hidden" value="{{set.s_no}}" name="s_no">
                              <div class="set_color">
                              <select class="form-control" title="{{set.s_color}}" name="s_color">
                                <option value ="default">default</option>
                                <option value ="primary">primary</option>
                                <option value ="info">info</option>
                                <option value ="success">success</option>
                                <option value ="warning">warning</option>
                                <option value ="danger">danger</option>
                              </select>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" onclick="this.form.submit()">确认</button>
                              </div>
                              </form>
                            </div>
                          </div>
                      </div>
                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash"/>&nbsp;删除</button>
                     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <form action="{% url 'equipdelete' %}" method="post">
                              <h3>您确定要删除这套出装吗？</h3>
                              <input type="hidden" name="set_no" value="{{set.s_no}}">
                              <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" onclick="this.form.submit()">确认</button>
                              </div>
                              </form>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        </main>
    </body>
</html>